/* خلفية الصفحة */
body {
    font-family: 'Segoe UI', sans-serif;
    background-image: url('/background.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  /* صندوق تسجيل الدخول */
  .login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  /* العناوين */
  .login-box h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  /* الحقول */
  input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }
  
  /* زر الدخول */
  button {
    width: 95%;
    padding: 12px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;     
  }
  .forgot-password {
    margin-top: 10px;
    font-size: 14px;
    text-align: right;  /* محاذاة يمين */

  }
  
  .forgot-password a {
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  
  button:hover {
    background-color: #357ABD;
  }
  
  